{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 3 versions"],
        "node": true
      }
    }]
  ]
}
